extends inicio2

block historial  
    div.container.mt-3
        div.jumbotron
            h2(style="color:blue;")!="Vista de Productos"
            -if(productos.length)
                div.table-responsive
                    table.table.table-dark
                        tr(style="color:yellow;")
                            th Nombre
                            th Precio 
                            th(style="text-align:center") Foto
                        each producto in productos
                            tr
                                td= producto.nombre
                                td= producto.precio
                                td(style="text-align:center")
                                    img(src=producto.foto)
            -else
                h2.alert.alert-warning!="No hay productos"
            form(action="/productos" method="post")
                button.btn.btn-success.mt-3.mb-5(type="submit") Formulario 